<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2022 - 2024 (expected)</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Science in Information Technology and Management</div>
               <h4 class="category">University of Texas at Dallas
               </h4>
               <ul>
                <li> Finished the first two semester at JSOM with a core GPA of <b>4.0</b></li>
                 <li>Subjects taken in the 1st Semester -> Systems Analysis & Project Management, Data Management, Statistics and Data Analysis .
                </li>
                 <li>Subjects taken in the 2nd Semester -> AWS Cloud Solution Architecture, Data Vizualization, Web Analytics, Marketing Management .</li>
                 <li>Subjects taken in the 3rd Semester -> OOPS with Python, Big Data, Foundations of Digital Product Management, Innovation within Corporations .
                </li>
                <a class="btn btn-primary" href={{transcriptUrl}} target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download Latest Transcript</a>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2019</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technoogy in Electronics and Communication Engineering</div>
               <h4 class="category">National Institute of Technology, Warangal
               </h4>
               <ul>
                <li>
                  One of the <b>Top 10 </b> Educational Institutions all over India.
                                  </li>
                                  <li>
                                     Institute of National Importance.
                                  </li>
                                  <li>
                                    Strong solid engineering foundation with a concentration in Hardware and Software.
                                  </li>
                                  <li>
                                    Completed capstone Project <b>"Implementing a Phrase Based Speech to Speech Machine Translator between 2 PCs from Hindi to Telugu and vice-versa</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2015</p>
              <div class="h5">High School Education</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Gyandeeep Vidhyalaya
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>84%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->